<!DOCTYPE html>
<html lang="es" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title th:text="${titulo}">Document</title>
</head>

<body>
    <h1 class="verde" th:text="${cuerpo}"></h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th></th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>C.C</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Direccion</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Datos del Profesor</td>
                <td th:text="${profesor.nombre}"></td>
                <td th:text="${profesor.apellido}"></td>
                <td th:text="${profesor.cc}"></td>
                <td th:text="${profesor.telefono}"></td>
                <td th:text="${profesor.email}"></td>
                <td th:text="${profesor.direccion}"></td>
                <td th:text="${profesor.edad}"></td>
            </tr>
        </tbody>
    </table>
    <div th:if="${alumnos.isEmpty()}">no hay vendedores en la lista!</div>
    
    <table th:if="${not alumnos.isEmpty()}" class="table table-bordered">
		<thead>
			<tr>
				<th>Nombres</th>
                <th>Apellidos</th>
                <th>C.C</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Direccion</th>
                <th>Edad</th>
                <th>Carrera</th>
                <th>Nota</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="alumnos: ${alumnos}">
				<td th:text="${alumnos.nombre}"></td>
				<td th:text="${alumnos.apellido}"></td>
                <td th:text="${alumnos.cc}"></td>
                <td th:text="${alumnos.telefono}"></td>
				<td th:text="${alumnos.email}"></td>
                <td th:text="${alumnos.direccion}"></td>
                <td th:text="${alumnos.edad}"></td>
                <td th:text="${alumnos.carrera}"></td>
                <td th:text="${alumnos.nota}"></td>
			</tr>
		</tbody>
	</table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>